.main-about {
  min-width: 250px;
  margin-top: 10vh;
  padding: 20px;
}
.main-about h1 {
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
}

.about-bottom .image-wrapper img {
  width: 100%;
  height: auto;
}
li.certificate {
  list-style: none;
  line-height: 12px;
}
li.cert-detail p {
  font-size: 14px;
  line-height: 14px;
}
li.cert-detail {
  list-style: square;
}

h4 {
  font-weight: 500;
  line-height: 18px;
}

.cert-link p {
  font-weight: 300;
}
p b {
  font-weight: 400;
}
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.wrapped-skill {
  margin: 0px 30px;
  display: flex;
  justify-content: center;
}
.wrapped-skill p {
  margin-left: 5px;
}
.wrapped-skill img {
  max-width: 48px;
  display: flex;
  height: auto;
}
@media screen and (max-width: 768px) {
  .wrapped-skill {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: 0px;
  }
  .skills-container {
    text-align: center;
  }
  .about-bottom {
    text-align: center;
  }
  ul.cert-details {
    padding: 0px;
    margin: 0px;
  }
  ul.certifications {
    padding-left: 0px;
  }
  li ul.cert-details {
    margin-left: 0px;
  }
}
